.server-collection-component-container {
  text-align: left;
  margin: 0.5em;
}

.label {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em;
}

.Collapsible {
  background-color: #cccccc;
  border: black 2px solid;
  border-radius: 0.375em;
  text-align: left;
  font-weight: bold;
  padding: 0.25em;
}

.Collapsible__contentInner {
  background-color: #f6f6f6;
}

.server-grid {
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-gap: 1em;
}

textarea {
  width: 100%;
  resize: none;
  margin: 1em;
  outline: black 1px solid;
}

.save-btn-div {
  position: relative;
  margin-bottom: 1em;
}

.save-btn {
  position: absolute;
  bottom: 0;
  left: 1.5em;
  right: 1.5em;
}
