.collection-export-btn-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.collection-export-btn {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.collection-export-btn {
  background-color: #00008b;
  color: white;
  border: none;
}
